$base-main: hsl(233, 47%, 7%);
$base-card: hsl(244, 38%, 16%);
$base-accent: hsl(277, 64%, 61%);
$neutral-light: hsl(0, 0%, 100%);
$neutral-mid: hsla(0, 0%, 100%, 0.75);
$neutral-dark: hsla(0, 0%, 100%, 0.6);
$text-color: #ffffff;
// Sizes
$mobile-width: 375px;
$desktop-width: 1440px;
$base-font-size: 15px;
